@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Darker';
    src: url('../src/assets/fonts/DarkerGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Darker';
    src: url('../src/assets/fonts/DarkerGrotesque-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
